.App {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.App h1 {
    margin: 15px 0;
    padding-bottom: 15px;
    text-align: center;
    color: 	#F8F835;
    font-weight: 900;
}

.App h2 {
    margin: 0;
    padding-bottom: 15px;
    color: 	#F8F835;
    font-weight: 900;
} 